# Allowlisting gitignore template for Rust projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.

# Ignore everything
*

# But not these files...
!/.gitignore

!*.rs
!*.md
# ...even if they are in subdirectories
!*/